einops==0.4.0
Fiona==1.8.20
kornia==0.6.2
matplotlib==3.5.3
numpy==1.21.2
opencv_python_headless==4.5.5.64
Pillow==9.2.0
pyproj==3.2.1
radiant_mlhub==0.5.2
rarfile==4.0
rasterio==1.2.10
Rtree==0.9.7
scikit_image==0.18.3
scikit_learn==1.1.2
Shapely==1.8.0
skimage==0.0
tifffile==2021.11.2
torch==1.10.2
torchvision==0.11.3
tqdm==4.62.3
visdom==0.1.8.9
zipfile_deflate64==0.2.0
